* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-general {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 400px;
  height: 400px;
  animation: rotacion 3s infinite;
}
/*Definim cada punt per les dues animacions, si no no funciona*/
@keyframes rotacion {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.5);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
